<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="stylesheet" href="/css/idepage2.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.css"></link>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/theme/abbott.min.css"></link>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDE</title>
    <script src="client.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/codemirror.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/6.65.7/mode/perl/perl.min.js"></script>
</head>

<body>
<!--
    <div id="zatemnenie1">
        <div id="okno1">
            <div id="header-okno1">
                <span class="okno-top-text1">SIGN IN </span>
            <a href="#" class="close1">X</a><br>
            </div>
            <div>
                <p>Login:</p>
                <input type="login">
                <br>
                <br>
                <p>Password:</p>
                <input type="password">
            </div>
            <div id="submit1">
                <input type="submit">
            </div>
        </div>
    </div>
-->


    <div id="zatemnenie2">
        <div id="okno2">

            <div id="header-okno2" class="tabs">
                <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
                <label for="tab-btn-1" id="knopkaPaddingEdit1">Register</label>
                <input type="radio" name="tab-btn" id="tab-btn-2" value="">
                <label for="tab-btn-2" id="knopkaPaddingEdit2">Login</label>
                <a href="#" class="close2">X</a><br>
                <!--</div>-->

                <div id="tab-content1">
                    <form method='post' class="js-form" name="js-form">
                        Nickname:
                        <br>
                        <input name='login' type="login" class="js-input">
                        <br>
                        <br>
                        e-mail:
                        <br>
                        <input name='email' type="e-mail" class="js-input js-input-email">
                        <br>
                        <br>
                        Password:
                        <br>
                        <input name='password' type="password" class="js-input">
                        <br>
                        <br>
                        Password again:
                        <br>
                        <input name='passwordAgain' type="password" class="js-input">
                        <br>
                        <br>
                        <button class="submit11" type="submit">Пока недоступно</button>
                    </form>

                </div>


                <div id="tab-content2">
                    <form method='post' id="formAuthorization" class="js-form" name="js-form">
                        Login:
                        <br>
                        <input name="username" type="login" class="js-input">
                        <br>
                        <br>
                        Password:
                        <br>
                        <input name="password" type="password" class="js-input">
                        <br>
                        <br>
                        <button id="buttonAuthorization" class="submit22" type="submit">Войти</button>
                    </form>
                </div>


            </div>
        </div>
    </div>

    <div id="zatemnenie3">
        <div id="okno3">
            <div id="header-okno3">
                <span class="okno-top-text3">SETTINGS</span>
                <a href="#" class="close2">X</a><br>
            </div>
            <div>
                <span>Color Theme:</span>
                <select size="1" name="Color Theme">
                <option>Lilac</option>
                <option>Light</option>
                <option>Dark</option>
                </select>
            </div>
            <div id="submit3">
                <span><input type="submit"></span>
            </div>
        </div>
    </div>

    <div id="zatemnenie4">
        <div id="okno4">
            <div id="header-okno4">
                <span class="okno-top-text4">Notes</span>
                <a href="#" class="close4">X</a><br>
            </div>
            <div id="text4">
                <textarea></textarea>
            </div>
        </div>
    </div>

    <header class="container-top">
        <div class="toppart">
           <!-- <div>
                <div class="Top-Content">
                    <div class="IDE-Name">NUCLEAR</div>
                    <span class="right">
                        <div class="SignIn">Sign In</div>
                        <div class="SignUp">Sign Up</div>
                    </span>
                </div>
            </div>
        -->
            <div class="Name">NUCLEAR</div>
            <div class="SIGN">
                <a href="#zatemnenie2" class="up">Sign Up / Sign In</a>
            </div>

        </div>
    </header>

    

    <main class="main1">
        <div class="main2">
            <div class="sidebuttons-container">


                    <div class="headerTextSideButtons">
                        <div></div>
                    </div>

                    <div class="buttons-container">
                        <div id="buttonCreateFile">CreateNewFile</div>
                        <div><a href="#zatemnenie4">NotesIcon</a></div>
                        <div><a href="#zatemnenie3">SettingsIcon</a></div>
                    </div>

            </div>

            <div class="filespart">
                <div class="MyFiles">
                    <div>My files:</div>
                </div>
                <div id="files">
                    <div id="firstCreatedFile" class="new-element-class"><p> Войдите, чтобы начать работать</p></div>
                </div>
            </div>
            
            <textarea id="code" name="code" class="code"></textarea>
            

            <div class="console-container">
                <div class="header-console">
                    <a href="#" id="RUN" class="RUN"> >RUN</a>
                    <span class="Console">Console</span>
                </div>

                <textarea class="console" readonly>

                </textarea>

            </div>
           <!--<div class="console-container">
                <div>
                    <div class="console">Console</div>
                </div>
            </div>-->

        </div>
    </main>


    <footer class="footer">
        <div class="bottompart">
            <div>
                <div>
                    <a href="https://github.com/sanchoouse1" target=»_blank>GitHub</a>
                </div>
            </div>
        </div>
    </footer>


</body>
</html>