body {
    margin: 0;
    color: rgb(255, 226, 250);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: rgb(15, 14, 15);
}

/*.Top-Content {
    display: flex;
}

.right {
    display:flex;
}


.IDE-Name {
    font-size: 16px;
    font-weight: bold;
}
*/
.toppart {
    display: flex;
}
.Name {
    text-align: center;
    margin-right: 600px;
    color: #A880FF;
}

.SIGN {
    display:block;
    text-align: right;
}
.up {
    margin-left: 15px;
}
a {
    color:rgb(255, 226, 250);
}

.SIGN a:hover, .SIGN a.active {
	color:#6feeff;

}

.container-top {
    display: flex;
    justify-content: flex-end;
    background-color: #271D28;
    padding: 15px;
}

.main1 {
    flex-grow: 1;
    background-color: rgb(49, 36, 46);

}

.main2 {
    display: flex;
    /*height: 744px;*/

}

.sidebuttons-container {
    display: flex;
    text-align: center;
    background-color: #271D28;
    flex: 0.5;
    flex-direction: column;
    border-right: 2.5px solid #000000;


}

.buttons-container {
    /*height: 700px;*/
    display: flex;
    flex-direction: column;
    align-content: center;
}

.buttons-container div {
    margin: 20px 0;
    width: 70px;
}

#buttonCreateFile {
    margin-top: 56px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 25px;
    border: 2px solid #3B2D3D;
    background-color: #3B2D3D;
    cursor: pointer;
}

#buttonCreateFile:hover {
  background-color:  #554A56;
}

#buttonCreateFile:active {
  background-color: #271D28;
}

#buttonNotesIcon {
    margin-top: 56px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 25px;
    border: 2px solid #3B2D3D;
    background-color: #3B2D3D;
    cursor: pointer;
}

#buttonNotesIcon:hover {
  background-color:  #554A56;
}

#buttonNotesIcon:active {
  background-color: #271D28;
}

#buttonSettingsIcon {
    margin-top: 56px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 25px;
    border: 2px solid #3B2D3D;
    background-color: #3B2D3D;
    cursor: pointer;
}

#buttonSettingsIcon:hover {
  background-color:  #554A56;
}

#buttonSettingsIcon:active {
  background-color: #271D28;
}

.filespart {
    flex: 1.8;
    border-top: 2.5px solid #000000;
    border-bottom: 2.5px solid #000000;
    border-right: 1px solid #000000;
    background-color: #3B2D3D;

}

.MyFiles {
    border-bottom: 2.5px solid black;
    border-right: 2.5px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    text-align: center;
    font-size: 20px;
    background-color: #271D28;
}

.filespart #files {
    border-bottom: 0px solid black;
    height: 870px;
    overflow: auto;
}

.active {
    background-color: blue;
  }

.new-element-class {
    border: 1px solid black;
    padding-left: 50px;
    cursor: pointer;
}

.new-element-class:hover {
    background-color: #554A56;
}



.code {
    flex: 4;
    text-align: left;
    color:#6feeff;
    padding: 10px 10px;
    border-top: 2.5px solid #000000;
    border-bottom: 2.5px solid #000000;
    border-right: 2.5px solid #000000;
    background-color: #554A56;
}

#highlighted-code {
    z-index: 1;
    position: absolute;
    top: 0.9em;
    letter-spacing: 0.09px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
}

#code {
    background-color: transparent;
    color: transparent;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    caret-color: rgb(0, 255, 4);
  }



pre {
    display: flex;
    position: relative;
    font-family: monospace;
    margin: 0px;
    white-space: pre-wrap;
}

#Hello {
    color: #A880FF;
}


.console-container {
    flex: 3;
    border-top: 2.5px solid #000000;
    border-bottom: 2.5px solid #000000;
    background-color: #1d1a1d;
}

.RUN {
    color:#6feeff;
    margin-left: -10px;
    margin-right: 165px;
    padding: 3px;
    border-radius: 10px;
    text-decoration: none;
    border: 2px solid #6feeff;
    background-color: black;
}

.RUN:hover {
    background: green;
  }

.console {
    background-color: #1d1a1d;
    width: 650px;
    color:rgb(81, 255, 0);
    min-height: calc(100vh - 156.55px);
    /*width: 100%*/
    /*min-height: 100vh;*/
}

.header-console {
    text-align: left;
    border-bottom: 2.5px solid black;
    padding: 10px 15px;
    font-size: 20px;
    background-color: #271D28;
}

.footer {
    flex-shrink: 0;
    background-color: green;
    display: flex;
    justify-content: flex-end;
    background-color: #271D28;

    padding: 15px;
}


/*
#zatemnenie1 {
    background-color:#1d1a1de3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#okno1 {
    width: 500px;
    height: 300px;
    padding: 15px;
    border-radius: 10px;
    color:aliceblue;
    position:absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #554A56;
}

#header-okno1 span {
    text-align: right;
    position: relative;
    left: 220px;
}

#header-okno1 a {
    position: relative;
    left: 380px;
}

.login {
    position: absolute;
}

#submit1 {
    position: relative;
    left: 210px;
    top: 50px;

}

#zatemnenie1:target {
    display: block;
}

.close1 {
    display: inline-block;
    color:white;
    background-color: red;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    font-size: 14pt;
    cursor: pointer;
}

.close1:hover {
    background: #ff6f6f;
}
*/

#zatemnenie2 {
    background-color:#1d1a1de3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}

#okno2 {
    width: 550px;
    height: 550px;
    padding: 15px;
    border-radius: 10px;
    color:aliceblue;
    position:absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #554A56;
}



.tabs>input[type="radio"]
{
    display: none;
}

#tab-content1, #tab-content2 {
    display: none;
    text-align: center;
}

#tab-btn-1:checked~#tab-content1,
#tab-btn-2:checked~#tab-content2 {
      display: block;
    }

.tabs>label {
      display: inline-block;
      text-align: center;
      vertical-align: middle;
      user-select: none;
      padding: 2px 8px;
      font-size: 16px;
      color: rgb(0, 0, 0);
      background-color: #7A6B86;
      line-height: 1.5;
      transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
      cursor: pointer;
      position: relative;
      top: 1px;
    }

.tabs>label:not(:first-of-type) {
      border-left: none;
    }

.tabs>input[type="radio"]:checked+label {
    background-color: #D9D9D9;
    }

#header-okno2 span {
    text-align: right;
    position: relative;
    left: 220px;
    /*position: relative;
    right: 150px;
    font-weight: bold;
    font-size: large;*/
}

#header-okno2 a {
    position: relative;
    left: 10px;
}

#header-okno2 label {
    margin-left: 60px;
}

#header-okno2 {
    border: 1px solid #e0e0e0;
    background-color: #D9D9D9;
    color: #7A6B86;
    width: 320px;
    text-align: center;
    margin-left: 120px;
    margin-top: 100px;
    padding-bottom: 20px;
}

#tab-content1>input:not(.submit11) {
    background-color: #AEA8B4;
    height: 25px;
}



#tab-content2>input:not(.submit22) {
    background-color: #AEA8B4;
    height: 25px;
}


#submit2 {
    position: relative;
    left: 210px;
    top: 50px;

}

#zatemnenie2:target {
    display: block;
}

.close2 {
    display: inline-block;
    color:white;
    background-color: red;
    padding: 0 12px;
    margin: 10px;
    text-decoration: none;
    font-size: 14pt;
    cursor: pointer;
}

.close2:hover {
    background: #ff6f6f;
}

#zatemnenie3 {
    background-color:#1d1a1de3;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    z-index: 998;
}

#okno3 {
    z-index: 999;
    width: 500px;
    height: 500px;
    padding: 15px;
    border-radius: 10px;
    color:aliceblue;
    position:absolute;
    top: 0;
    right:0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: #6F6474;
}

#header-okno3 span {
    text-align: right;
    position: relative;
    left: 220px;
    /*position: relative;
    right: 150px;
    font-weight: bold;
    font-size: large;*/
}

#header-okno3 {
    border: 2px solid black;
    padding-bottom: 10px;
    margin-bottom: 10px;
    background-color: #504954;
    padding-top: 15px;
}

#header-okno3 a {
    position: relative;
    left: 360px;
}

#submit3 {
    position: relative;
    left: 210px;
    top: 370px;

}

#zatemnenie3:target {
    display: block;
}

.close3 {
    display: inline-block;
    color:white;
    background-color: red;
    padding: 0 12px;
    margin: 10px;
    /*margin-left: 150px; */
    text-decoration: none;
    font-size: 14pt;
    cursor: pointer;
}

.close3:hover {
    background: #ff6f6f;
}

#zatemnenie4 {
    display: none;
}

#okno4 {
    border: 3px solid black;
    width: 300px;
    height: 300px;
    padding: 15px;
    border-radius: 10px;
    color:aliceblue;
    position:absolute;
    top: 50;
    right:0;
    bottom: 0;
    left: 0;
    background-color: #554A56;
}

#header-okno4 {
    border: 2px solid black;
}

#header-okno4 span {
    text-align: right;
    position: relative;
    left: 120px;
    /*position: relative;
    right: 150px;
    font-weight: bold;
    font-size: large;*/
}

#header-okno4 a {
    position: relative;
    left: 200px;
}

#text4 textarea {
    width: 293.5px;
    height: 235px;
    background-color: #7F6E8C;
    color: white;
}

#NotesSaveButton {
    margin-left: 110px;
}

#zatemnenie4:target {
    display: block;
}

.close4 {
    display: inline-block;
    color:white;
    background-color: red;
    padding: 0 12px;
    margin: 10px;
    /*margin-left: 150px; */
    text-decoration: none;
    font-size: 14pt;
    cursor: pointer;
}

.close4:hover {
    background: #ff6f6f;
}